html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
}

/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  background-color: #fff;
  color: #222;
}

/* ** MAIN CONTENT ** */
.main-content {
  flex-grow: 1;
}

/* ** MAIN CONTENT ** */
.main-content {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 23px;
  padding-right: 23px;
  margin-right: auto;
  margin-left: auto;
}

.header-hero-wrapper {
  background-color: violet;
  background-image: url("../sass/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.site-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  display: flex;
  margin-right: 32px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.sitenav__list {
  display: flex;
  gap: 32px;
}

.sitenav__item {
  position: relative;
}

.sitenav__item:hover::after {
  position: absolute;
  top: 33px;
  left: 25%;
  display: flex;
  width: 50%;
  height: 2px;
  content: "";
  background-color: #fff;
}

.sitenav__link {
  color: #FFF;
  font-family: Alata;
  font-style: normal;
  font-weight: 400;
}

.hero {
  padding-top: 66px;
  padding-bottom: 145px;
}

.hero__content {
  max-width: 570px;
  padding: 40px;
  border: 2px solid #fff;
}

.hero__title {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 68px;
  font-style: normal;
  margin: 0;
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

.leader {
  padding-top: 160px;
  padding-bottom: 100px;
}

.leader__container {
  position: relative;
}

.leader__img {
  display: flex;
  width: 731px;
  height: 500px;
}

.leader__content {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 541px;
  padding-top: 96px;
  padding-left: 96px;
  background-color: #fff;
  z-index: 10;
}

.leader__title {
  color: #000;
  font-family: Josefin Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px; /* 100% */
  text-transform: uppercase;
  margin-bottom: 25px;
}

.creations {
  padding-top: 84px;
  padding-bottom: 184px;
}

.creations__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.creations__title {
  color: #000;
  font-family: Josefin Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px; /* 100% */
  text-transform: uppercase;
}

.btn {
  color: #000;
  font-family: Alata;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 13px 40px;
  border: 1px solid #000;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

.creations__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.creations__img {
  display: flex;
  width: 256px;
  height: 450px;
}

.site-footer {
  background-color: #000;
  padding-top: 44px;
  padding-bottom: 44px;
}

.site-footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.site-footer__logo {
  width: 144px;
  height: 24px;
}

.site-footer__socials-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.site-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials__item {
  position: relative;
}

.socials__item:hover:after {
  position: absolute;
  top: 28px;
  display: flex;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #fff;
}

.socials__item:active {
  opacity: 0.6;
}

.socials__icon {
  display: flex;
}

.copywrite {
  color: rgba(255, 255, 255, 0.5);
  font-family: Alata;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}/*# sourceMappingURL=styles.css.map */